[mysql]
    host=172.16.17.115
    username=blm_serv_user
    password=blm_serv_pwd
    database=blm_serv
    port=3306
    charset=utf8

[mongodb]
    host= 172.16.17.121
    port= 27000
    username= blm_serv
    password= blm_serv
    database= blm_serv

[redis]
    host= 172.16.17.120
    port= 6379
    password= fonova123
    database= 6

[pool]
    poolSize = 3
    batchSize = 100
