[mysql]
    host=rm-bp14dyl1q9753dqw7.mysql.rds.aliyuncs.com
    username=guanyun_w_uat
    password=Sk22jBDhAlvMkPLM
    database=stargazer_business
    port=3306
    charset=utf8

[mongodb]
    host: 172.17.18.70
    port: 27017
    username: blm_serv
    password: blm_serv
    database: blm_serv

[pool]
    poolSize = 3
    batchSize = 100

[redis]
    host= 172.17.18.70
    port= 6379
    password= 4871b4d8766e9f684Fosun
    database= 6