[mysql]
    host=rm-bp107r7lv7z56156m.mysql.rds.aliyuncs.com
    username=stargazer_user
    password=sMhK#B*s!l
    database=stargazer_business
    port=3306
    charset=utf8mb4


[pool]
    poolSize = 10
    batchSize = 100

[mongodb]
  host: dds-bp1ecb7d067fdcf41.mongodb.rds.aliyuncs.com
  port: 3717
  username: blm_serv_user
  password: 1q2w3e
  database: blm_serv

[redis]
    host=  r-bp1905e577680de4.redis.rds.aliyuncs.com
    port= 6379
    password= Fosun1004
    database= 6
