[mysql]
    host=rm-bp16t8l71bn8pc4m3.mysql.rds.aliyuncs.com
    username=beehive_w
    password=beehive@#1234
    database=stargazer_business
    port=3306
    charset=utf8



[pool]
    poolSize = 3
    batchSize = 100

[mongodb]
  host: 10.46.226.73
  port: 27000
  username: blm_serv
  password: blm_serv
  database: blm_serv


[redis]
    host= 10.81.49.136
    port= 6379
    password= fonova123
    database= 6